.cart-item td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cart-item button{
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 50%;
    color: white;
    background-color: black;
}

.cart-item button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.726);
}