.nav-bar{
    display: flex;
    align-items: center;
    font-size: 2em;
}

.nav-bar a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}

.nav-bar a:hover{
    border-bottom: solid 1px black;
}

@media (max-width: 1111px){
    .nav-bar{
        font-size: x-large;
    }
}

@media (max-width: 915px){
    .nav-bar{
        font-size: large;
    }
}

@media (max-width: 766px){
    .nav-bar-items{
        display: flex;
        flex-direction: column;
    }
}

