.footer{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    border-top: 1px solid rgba(0, 0, 0, 0.342);
    background-color: white;
}

.footer-brand{
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;
}

.footer-brand img{
    width: 7em;
}

.footer-brand p{
    text-align: center;
    font-size: 1em;
}