.item-detail{
    width: 100%;
    display: flex;
}

.item-detail img{
    width: 60%;
    height: 500px;
}

.item-detail-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail-description-title{
    width: 100%;
    height: 25%;
    text-align: center;
    letter-spacing: 5px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(91,91,91,0.6250875350140056) 50%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-detail-description-body{
    height: 50%;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-detail-description-footer button{
    width: 300px;
    height: 50px;
    background-color: white;
    font-family: var(--my-font);
    font-weight: bold;
    color: black;
    border-style: none;
    border: 2px solid black;
}

.item-detail-description-footer button:hover{
    cursor: pointer;
}