.item{
    width: 300px;
    height: auto;
    padding: 0 0 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.424);
    border: 0.5px rgba(0, 0, 0, 0.685) solid;
    border-radius: 5%;
    transition: 600ms;  
}

.item:hover{
    box-shadow: 20px 20px 20px -5px rgba(0, 0, 0, 0.424);
    transition: 600ms;
}

.item-tittle{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 0.5px solid black;
}

.item img {
    width: 70%;
    height: 420px;
}

.item span{
    font-size: 1em;
    padding-bottom: 5px;
}

.item button{
        background-color:white;
        border-radius:28px;
        border:1px solid black;
        display:inline-block;
        cursor:pointer;
        color:black;
        font-family: var(--my-font);
        font-size:1em;
        font-weight: 900;
        padding:3px 3px;
        width: 10em;
        text-decoration:none; 
}

.item button:hover {
    position: relative;
    background-color:#b8c6cc;
    top: -0.25px;
}